* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  /* background-color: rgba(105, 38, 38, 0.971); */
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

/* これのおかげでグリッド状になった？ */
.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.modal-overlay {
  /* スクロールしても画面を固定する処理 */
  position: fixed;
  /* top: 0; right: 0; bottom: 0; left: 0; の省略。全画面表示になる */
  inset: 0;
  /* 0.5 は半透明（50%）。 */
  background-color: rgba(54, 3, 3, 0.5);
  /* ? 配置のルールをグリッドにする */
  display: grid;
  /* ダイアログを縦も横も中央に置く */
  place-items: center;
  /* モーダルの親要素にz-indexを大きく指定しておく👉️子要素は親より前に表示される */
  z-index: 1000;
}

.modal-dialog {
  background-color: #f3bb84;
  /* 中の余白。単位が必要 */
  padding: 20px 50px 20px 50px;
  /* 角の丸み */
  border-radius: 16px;
  /* ? ダイアログの影 */
  box-shadow: 0 16px 30px rgba(0, 0, 0);
  /* 幅の指定。最小の画面では90%, 最大の大きさは420px */
  width: min(90vw, 420px);
  /* height: min(90vw, 420px); */
}
